#header{
  background-color:blue;
}

#logo{
  background-color:grey;
}

#title{
  background-color:yellow;
}

#container{
  background-color:purple;
}

#m-head{
  background-color:grey;
}

#all{
  background-color:cyan;
}

#o-head{
  background-color:grey;
}

#order{
  background-color:cyan;
}

#s-head{
  background-color:grey;
}

#soon{
  background-color:cyan;
}

#r-head{
  background-color:grey;
}

#rate{
  background-color:cyan;
}

footer{
  background-color:grey;
}
