*{
  padding:0;
  margin:0;
}
#header{
  background-color:blue;
  width:100%;
  height:110px;
}

#logo{
  background-color:grey;
  float:left;
  height:100%;
}

#title{
  background-color:yellow;
  padding-top:40px;
 text-align:center;
  width:100%;
  height:63%;
}

#container{
  background-color:purple;
  margin:0 auto;
  height: 100px;
  width:100%;
  padding-top:20px;
}

#container2{
  background-color:purple;
  margin:0 auto;
  height: 100px;
  width:100%;
  padding-top:20px;
}

#m-head{
  background-color:grey;
  float: left;
  width:45%;
  text-align:center;
}
#o-head{
  text-align: center;
  float:right;
  width:45%;
}


#o-head{
  background-color:grey;
  
  width:45%;
}



#s-head{
 text-align:center;
  background-color:grey;
 float:left;
  width:45%;
}


#r-head{
 text-align:center;
  background-color:grey;
  float:right;
  width:45%;
}



footer{
  background-color:grey;
}
